extends layout 

block content 

  h1=title 

  form(method='POST')

    div.form-group 
      label(for='title') Title: 
      input(id='title' class='form-control' type='text' placeholder='Name of the book' name='title' value=(book === undefined ? '' : book.title) required)

    div.form-group 
      label(for='author') Author: 
      select(id='author' class='form-control' name='author' required)
        option(value='') --Please select an author-- 
        for author in authors
          if book 
            if author._id.toString() === book.author._id.toString()
              option(value=author._id selected) #{author.name} 
            else 
              option(value=author._id) #{author.name} 
          else 
            option(value=author._id) #{author.name}

    div.form-group 
      label(for='summary') Summary: 
      textarea(id='summary' class='form-control' placeholder='Summary' name='summary' required)= book === undefined ? '' : book.summary 

    div.form-group 
      label(for='isbn') ISBN: 
      input(id='isbn' class='form-control' type='text' placeholder='ISBN13' name='isbn' value=(book === undefined ? '' : book.isbn) required)

    div.form-group 
      label Genre: 
      div 
        for genre in genres
          div(style='display: inline; padding-righ:10px;')
            if genre.checked 
              input(id=genre._id class='checkbox-input' type='checkbox' name='genre' value=genre._id checked)
              label(for=genre._id) &nbsp;#{genre.name} &nbsp;
            else 
              input(id=genre._id class='checkbox-input' type='checkbox' name='genre' value=genre._id)
              label(for=genre._id) &nbsp;#{genre.name} &nbsp; 

        
    button(class='btn btn-primary' type='submit' style='margin-top: 10px;') Submit 

  if errors 
    ul 
      for error in errors 
        li!= error.msg
