extends layout 

block content 
  h1= title 

  if bookinstance_list.length 
    ul 
      each bookinstance in bookinstance_list
        li 
          a(href=bookinstance.url) #{bookinstance.book.title} : #{bookinstance.imprint}
          if bookinstance.status == "Available"
            span.text-success  - #{bookinstance.status} 
          else if bookinstance.status == "Maintenance"
            span.text-danger  - #{bookinstance.status}
          else 
            span.text-warning  - #{bookinstance.status}

          if bookinstance.status != "Available"
            span &nbsp;(Due: #{bookinstance.due_back_formatted})
  
  else 
    p There are no copies of this book in the library.